*{
    font-family: "Silkscreen", cursive;
}
body {
    background-color: #3c4a94;
    margin: 0
}

p {
    font-size: 14px;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

canvas {
    border: 3px solid black;
}

button {
    background-color: #f6d1fb;
    border-color: black;
    margin-top: 5px;
}

.text {
    width: 470;
    position: absolute;
    top: 84%;
    left: 64%;
    -moz-transform: translateX(-55%) translateY(-45%);
    -webkit-transform: translateX(-55%) translateY(-45%);
    transform: translateX(-75%) translateY(-55%);
}

.text span {
    opacity: 0;
}

.text span.revealed {
    opacity: 1;
}
